.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.packageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.packageItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}




.titleBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}







.servicesItem {
    overflow: hidden;
    width: 100%;
    max-height: auto;
    min-height: 360px;
    margin-bottom: 25px;
    padding-bottom: 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 2px 8px -1px rgba(0,0,0,.18);
}

.servicesImage {
    width: 100%;
    height: 300px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    text-align: center;
    background-size: cover;
    border: 0;
    max-width: 100%;
}

.servicesTitle {
        display: block;
    width: 80%;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
    font-family: 'Open Sans',sans-serif;
    color: #3a4147;
    font-size: 21px;
    line-height: 22px;
    font-weight: 600;
    text-align: center;
}


.servicesText {
    display: block;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Open Sans',sans-serif;
    color: #9da9b3;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    text-align: center;
}

.servicesWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}



.servicesContainer{
    display: block;
    margin-right: auto;
    margin-left: auto;
        content: " ";
    display: table;
    grid-column-start: 1;
    /* grid-row-start: 1; */
    grid-column-end: 2;
    grid-row-end: 2;
    padding: 2% 0%;
   
}

.serviceWrapper {
    border-radius: 25px;
    box-shadow: 0 2px 8px -1px rgb(0 0 0 / 48%);
    ;
}

